:root {
    --azul-secundario: #0C43BD;
    --azul: #040C6C;
    --amarelo: #DECF00;
    --tamanho-fonte: 18px;
    --fonte-principal: "Raleway";
      --swiper-theme-color: #323232;
  }
@media screen and (max-width: 450px){


/*MENU*/   
.menu ul{
    position: absolute;
    top: 8vh;
    right: 0vw;
    width: 30vw;
    height: 22vh; 
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.3s ease-in ;
    background-color: var(--azul);
}

.menu-items{
	padding: 0;
}

.menu-items a{
	font-size: 19px;
    font-weight: 500;
}

.menu-items .contatar{
    color: white !important;
    background-color: transparent !important;
    font-size: 2vh;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: .2s ease-in-out;
}


.menu-ul.active{
    display: flex;
}

.mobile-menu{
    margin-right: 0.5vh;
    display: block;
}

.mobile-menu div{
    transition: .3s;
}

    .logo{
        width: 30%;
    }


.mobile-menu.active .line1{
	transform: rotate(-45deg) translate(-7px, 7px);
}

.mobile-menu.active .line2{
    opacity: 0;
}

.mobile-menu.active  .line3{
    transform: rotate(45deg) translate(-4px, -6px);
}

}